Multiple departments
Complaints
-Duplicate acquisition of books relevant to multiple departments
-Subscription to journals relevant to multiple departments
-Acquisition of books/Subscription to journals of marginal interest 
 (borrow/access from other universities)
-Requested books unavailable
-Unavailable journal entries while being bound into yearly volumes
-Lack of traceability of irresponsible past borrowers
-Inaccurate card indexes(stated available, not at position)
-Bibliographical search restricted to library opening hours
-Inaccurate search results 
 (poor classification of books within departments)
-Incomplete/Ineffective search results 
 (indexed in other department libraries/unavailable)

Integrate all department libraries
Interoperate with library systems from partner universities
Provide interative online facilities